body {
    /* background-color: #333; */
    color: #e5e7eb;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > h1 {
    font-style: italic;
    color: crimson;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .cool-heading {
    color: #00e9ff;
    text-shadow: 0 0 2px #00e9ff, 0 0 20px #0088ff;
  }

  .button {
    position: relative;
    overflow: hidden;
    background: #4f46e5;
    color: #000;
    transition: transform 0.1s ease;
  }
  .button:hover {
    background: #3c36b2;
    transform: translate(1px, -1px) skewX(1deg) skewY(-1deg);
  }
  .button:active {
    transform: translate(-1px, 1px) skewX(-1deg) skewY(1deg);
  }
  .class-1 {
    background: #3c36b2;
  }